*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #121212;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}
/*fix backgroung full width*/
.site-header{
    background-color: #333;
    width: 100%;
}
/*Better flex container to align logo & menu*/
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1350px;
    margin: 0 auto;
   /* padding: 0 20px;*/
    width: 100%;
    padding: 15px 20px; /*re-enable*/
    /*flex-direction: row;*/
    flex-wrap: wrap;
}

/*Logo styling*/
.logo img {
    border-radius: 50%;
    width: auto;
    height: 50px;
    display: block;
}

/*Navigation*/
.nav-links li a{
    text-decoration: none;
    background-color: #4d0303ce;
    color: #fff;
    padding: 8px 16px;
    border-radius: 2rem;
    transition: all 0.3s ease;
}
.nav-links a:hover{
    background-color: #222;
    border-radius: 5px;
}
.nav-links{
    display: flex;
    gap: 15px;
    list-style: none;
    flex-wrap: wrap;
    justify-content: flex-end;

}

/* MOBILE VIEW*/
@media (max-width: 768px){
    .container{
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }
    .nav-links{
        flex-wrap: wrap;
        justify-content: flex-end;
        gap: 10px;
    }
    .nav-links li a{
        padding: 6px 12px;
        font-size: 14px;
    }
}
